<main>
    <h1>Search for a github profile.</h1>
    
    <p>Find a summary of your favourite person's github and explore some projects they are involed in, 
        get connected via their social media handle. Just basically explore them!</p>
    
    <form [formGroup]="userNameForm" (ngSubmit)="onSubmit(userNameForm.value)">
        <input for="userName" type="text" placeholder="enter user name" formControlName="userName" />
        <button type="submit" [disabled]="userNameForm.value.userName === '' ">Search</button>        
    </form>
    
    <div *ngFor="let item of githubData$" class="details">
        <img alt="profile picture" [src]="item.avatar_url" width="20%" height="20%"/>
        <h2>{{item.name}}</h2>
        <p *ngIf="item && item.bio">{{item.bio}}</p>
        <p><strong>{{item.followers}}</strong> followers <strong>{{item.following}}</strong> following</p>
        <a [routerLink]="['/user-details', item.login]">Read more</a>
    </div>
</main>
